<p-overlayPanel #op [showCloseIcon]="true" style="width: 400px;">
    <ng-template pTemplate>
        <p-virtualScroller [value]="commits" scrollHeight="400px" [itemSize]="170" [rows]="10" [lazy]="false" styleClass="v-scroller">
            <ng-template pTemplate="header">
                List of Commits for {{ repo }}.
                <!-- <p-dropdown [options]="sortOptions" placeholder="Sort By" (onChange)="onSortChange()"
                    [optionLabel]="'label'"></p-dropdown> -->
            </ng-template>
            <ng-template let-commitInfo pTemplate="item" let-i="index">
                <div class="container">
                    <div class="image-container">
                        <img src="{{commitInfo.author.avatar_url}}" [alt]="commitInfo.commit.author.name" class="resize" />
                    </div>
                    <div class="">
                        <h5 class="">{{commitInfo.commit.author.name}}</h5>
                        <p class="">{{commitInfo.commit.message}}</p>
                        <p class="">{{commitInfo.commit.author.date | date}}</p>
                    </div>
                    <div class="">
                        <p-button label="Go to commit" (onClick)="visitCommit(commitInfo.html_url)"></p-button>
                    </div>
                </div>
            </ng-template>
            <ng-template let-car pTemplate="loadingItem">
                Opps gathering the commits...
            </ng-template>
        </p-virtualScroller>
    </ng-template>
</p-overlayPanel>